.col-small {
  position: absolute;
  height: 100%;
  background-color: #000;
  float: left;
  width: 30%;
}

.col-wide {
  float: right;
  width: 70%;

  img {
    width: 100%;
  }
}

.col-wide {
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:70%;
}
.col-wide:hover {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}


.col-half {
  width: 50%;
  float: left;

  img {
    width: 100%;
  }
}

.bg-wood {
  background-image: url("../img/textura.jpg");
  background-size: cover;
}

.menu-section {
  text-align: center;
  padding: 140px 0 65px;
  background-image: url("../img/menu_textura.jpg");
  background-size: cover;
}
